.partners {
    margin-bottom: 0;
    min-height: 489px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/partners-background.jpg) no-repeat;
}

.partners-link {
    flex-basis: 210px;
    height: 210px;
    margin: 0 45px;
    display: flex;
    align-items: center;
}

.partners-link:hover {
    outline: 1px solid bisque;
}

.partners-link:active {
    background-color: grey;
}